
{% extends "base.html" %}
{% load static %}
{% block page_hero %}
<div class="page-hero">
    <h1>About Us</h1>
</div>
{% endblock %}
{% block content %}

<h2> Developers</h2>

<ul class="exhibits-grid">

    <li class="exhibit-card">
        <img class="exhibit-cover" src="{% static 'images/dom.jpg' %}" alt="Dom Clegg">
        <h2>Dom Clegg</h2>
        <p>Project Lead</p>
        <p>dcc216@exeter.ac.uk</p>

    </li>

    <li class="exhibit-card">
        <img class="exhibit-cover" src="{% static 'images/alex.jpg' %}" alt="Alex Parson">
        <h2>Alex Parson</h2>
        <p>Technical Lead</p>
        <p>ap1224@exeter.ac.uk</p>
    </li>

    <li class="exhibit-card">
        <img class="exhibit-cover" src="{% static 'images/leo.jpg' %}" alt="Leo Hudson">
        <h2>Leo Hudson</h2>
        <p>Software Developer</p>
        <p>lh1021@exeter.ac.uk</p>
    </li>

    <li class="exhibit-card">
        <img class="exhibit-cover" src="{% static 'images/jimi.jpg' %}" alt="Jimi Mandeville">
        <h2>Jimi Mandeville</h2>
        <p>Data Lead</p>
        <p>jm1621@exeter.ac.uk</p>
    </li>

    <li class="exhibit-card">
        <img class="exhibit-cover" src="{% static 'images/coco.jpg' %}" alt="Coco Bemand">
        <h2>Coco Bemand</h2>
        <p>UI Designer</p>
        <p>pb667@exeter.ac.uk</p>
    </li>

    <li class="exhibit-card">
        <img class="exhibit-cover" src="{% static 'images/sam.JPG' %}" alt="Sam James">
        <h2>Sam James</h2>
        <p>Testing & DevOps</p>
        <p>sej222@exeter.ac.uk
    </li>

    <li class="exhibit-card">
        <img class="exhibit-cover" src="{% static 'images/dylan.jpg' %}" alt="Dylan Ryan">
        <h2>Dylan Ryan</h2>
        <p>Documentation</p>
        <p>dr535.exeter.ac.uk</p>
    </li>

</ul>
<h2> Find Us</h2>
<div style="text-align: center;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.072711293707!2d-3.5377277873763138!3d50.73714026656131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da4113c8130b1%3A0x7f3efd04b3287246!2sUniversity%20of%20Exeter!5e0!3m2!1sen!2suk!4v1774277953585!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock %}
