
{% extends "base.html" %}
{%block content %}

<h1> Curator Dashboard</h1>
<li>
    <button onclick="showSection('exhibits')">Edit Exhibits</button>
    <button onclick="showSection('artifact')">Edit Artifacts</button>
    <button onclick="showSection('ai-system')">Edit AI System</button>
    <button onclick="showSection('factors')">Edit Contributing Factors</button>
    <button onclick="showSection('failure')">Edit Failure Description</button>
    <button onclick="showSection('lessons')">Edit Lessons Learnt</button>
    <button onclick="showSection('feedback')">See Feedback</button>
    <button onclick="showSection('analytics')">analytics</button>

</li>


<script> 
function showSection(sectionId){ 
    document.querySelectorALL(".panel").forEach(panel => { 
        panel.classList.remove("active");
    });
    document.getElementById(sectionId).classList.add("active")

}

</script>




{% endblock %}







