
{% extends "base.html" %}
{%block content %}
    
    <h1>Exhibits</h1>


    <section>
        {% if exhibits %}
            <ul class="exhibits-grid">
                {% for exhibit in exhibits %}
                    <li class="exhibit-card">
                        <a href="{% url 'single_exhibit' exhibitId=exhibit.exhibitId %}">
                        <h2>{{exhibit.title}}</h2>
                        <p>{{exhibit.domain}}</p>
                        <p>{{exhibit.viewNumber}} </p>
                        
                        
                         
                        </a>
                    </li>

                {% endfor %}
            </ul>
        {% else %}
            <p>No exhibits found.</p>
        {% endif %}
    </section>
    

    {% endblock %}
