
{% extends "base.html" %}
{%block content %}
    
<h1>AI Museum of Failures</h1>
<div class="intro"> 
    <p>  Welcome to the AI Museum of Failures, here we will showcase exhibits showing where AI has made incorrect predictions harming people, industries and more. 
        Explore Our gallery of exhibits and complete short quizzes to test your knowlege. 
        Track your progress in the "Statistics" section.
    </p>
</div>

</p>
<div>
    <p> Click here to learn more about AI Failures:</P>
    <a href="{% url 'exhibits' %}">
        <button class="home-button">Explore Exhibits</button>
    </a>

    <a href="{% url 'quiz' %}">
        <button class="home-button">Explore Quizzes</button>
    </a>
</div>



{% endblock %}