
{% extends "base.html" %}
{% block page_hero %}
<div class="page-hero">
    <h1 id="exhibit-hero-title">Login</h1>
</div>
{% endblock %}
{%block content %}
    <!-- blocks for potential DOS attacks -->
    {% if locked %}
        <p style="color: red;">Too many login attempts. Please try again later.</p>
    {% else %}
    
        <form method="POST" action="" class="input-form">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Log In">
        </form>
    {% endif %}

{% endblock %}