
{% extends "base.html" %}
{% block page_hero %}
<div class="page-hero">
    <h1>Quizzes</h1>
</div>
{% endblock %}
{%block content %}

    <section>
        {% if quiz %}
            <ul class="exhibits-grid">
                {% for quiz in quiz %}
                    <li class="quiz-card">
                        <a href="{% url 'single_quiz' quiz.id %}">
                            <h2>{{quiz.name}}</h2>
                            <ul>
                                <li>Exhibit: {{quiz.exhibit}}</li>
                                <li>Topic: {{quiz.topic}}</li>
                                <li>{{quiz.num_questions}} questions</li>
                                <li>Worth: {{quiz.max_points}} points</li>
                            </ul>
                        </a>
                    </li>

                {% endfor %}
            </ul>
        {% else %}
            <p>No quizzes found.</p>
        {% endif %}
    </section>
    

    {% endblock %}
