
{% extends "base.html" %}
{%block content %}
    
    <h1>Quizzes</h1>


    <section>
        {% if quiz %}
            <ul class="exhibits-grid">
                {% for quiz in quiz %}
                    <li class="exhibit-card">
                        <a href="{% url 'single_quiz' quiz.id %}">>
                        <h2>Name: {{quiz.name}}</h2>
                        <p>Topic: {{quiz.topic}}</p>
                        <p>Number of Questions: {{quiz.num_questions}} </p> 
                        </a>
                    </li>

                {% endfor %}
            </ul>
        {% else %}
            <p>No quizzes found.</p>
        {% endif %}
    </section>
    

    {% endblock %}
