
{% extends "base.html" %}
{%block content %}

    <h1> {{exhibit.title}}</h1>

    <section class="single-exhibit">
        <h3> Description: </h3>
        <p> {{exhibit.domain}}</p>

        <h3> Background Deployment Context</h3>
        <p>{{exhibit.backgroundDeploymentContext}}</p>

        <h3>Intended Use : {{exhibit.ai_description}}</h3>
        <p> {{exhibit.intededUse}}</p>

    </section>


    <section class="single-exhibit">
        {% if artefacts %}
            <ul class="exhibits-grid">
                {% for artefact in artefacts %}
                <li class="exhibit-card">
                    <h2> Artefacts : {{artefact.artefactId}}</h2>
                    <p> Information: {{artefact.info}}</p>
                    <p>Date: {{artefact.backgroundDeploymentContext}}</p>
                    <img src="{{ artefact.artefactObjectPath.url }}">
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No supporting artifacts found.</p>
        {% endif %}
    </section>

    <section class="single-exhibit">
        {% if ai_description %}
            <div class = 'ai_description'>
                <h2> AI Used: </h2>
                <h3> AI System Desription: </h3>
                <p> {{ai_description.systemDescription}}</p>

                <h3> AI System Purpose: </h3>
                <p> {{ai_description.systemPurpose}}</p>

                <h3> AI System Outputs: </h3>
                <p> {{ai_description.systemOutputs}}</p>
            </div>
        {% else %}
            <p>No information of AI system found.</p>
        {% endif %}
    </section>

    <section class="single-exhibit">
        {% if contributing_factors %}
            <div>
                <h2> Contributing Factors: </h2>
                <h3> Data Issues?: </h3>
                <p> {{contributing_factors.dataIssues}}</p>

                <h3> Design Choices: </h3>
                <p> {{contributing_factors.designChoices}}</p>

                <h3> AI System Outputs: </h3>
                <p> {{contributing_factors.organisationalOrGovernanceIssues}}</p>
            </div>
        {% else %}
            <p>No information of contributing factors found.</p>
        {% endif %}
    </section>

    <section class="single-exhibit">
        {% if failures %}
            <div> 
                <h2> AI Failure</h2>
                <h3> What went wrong: </h3>
                <p> {{failures.whatWentWrong}}</p>

                <h3> How the fault was detected: </h3>
                <p> {{failures.howItWasDetected}}</p>

                <h3> What Was Affected: </h3>
                <p> {{failures.whatWasAffected}}</p>
            </div>
        {% else %}
            <p>No information of AI failure found.</p>
        {% endif %}
    </section>

    <section class="single-exhibit">
        {% if lessons %}
            <div>
            <h2> Lessons Learnt: </h2>
                <h3> Practical Recommendations: </h3>
                <p> {{lessons.practicalRecommendations}}</p>

                <h3> Warnings to Future Users: </h3>
                <p> {{lessons.futureWarnings}}</p>
            </div>
        {% else %}
            <p>No information of AI system found.</p>
        {% endif %}
    </section>


    {% endblock %}