
{% extends "base.html" %}
{% load static %}
{% block page_hero %}
<div class="page-hero">
    <h1>Create Lessons Learnt</h1>
</div>
{% endblock %}
{%block content %}
<!-- form for creating lessons leart for a new exhibit-->
<form id="create-lessons-form" class="input-form">

    <textarea id="practicalRecommendations" placeholder="practicalRecommendations"></textarea>

    <textarea id="futureWarnings" placeholder="futureWarnings"></textarea>

    <div class="input-form">
        <button class="submit" type="submit">Save</button>

    </div>

</form>
<p id="message"></p>
<script>
    const exhibitId = "{{ exhibit.exhibitId}}";
</script>

<ul class="curator-navs">
    <li><a href="{% url 'create_failure' exhibitId=exhibit.exhibitId %}"><img src="{% static 'images/arrow_back.png' %}"></a></li>
    <li><a href="{% url 'curator_dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'create_system' exhibitId=exhibit.exhibitId %}"><img src="{% static 'images/arrow_forward.png' %}"></a></li>
</ul>

<script src="{% static 'js/create_lesson.js' %}"></script>





{% endblock %}
