
{% extends "base.html" %}
{% load static %}
{% block page_hero %}
<div class="page-hero">
    <h1>Create AI System Description</h1>
</div>
{% endblock %}
{%block content %}
<!-- form for creating an AI system description for a new exhibit-->
<form id="create-ai-form" class="input-form">

    <textarea id="systemDescription" placeholder="System Type"></textarea>
    <textarea id="systemPurpose" placeholder="Inputs and Assumptions"></textarea>
    <textarea id="systemOutputs" placeholder="System Outputs"></textarea>

    <div class="input-form">
        <button class="submit" type="submit">Save</button>

    </div>

</form>
<p id="message"></p>
<script>
    const pk = "{{ exhibit.exhibitId}}";
</script>

<ul class="curator-navs">
    <li><a href="{% url 'create_lessons' exhibitId=exhibit.exhibitId %}"><img src="{% static 'images/arrow_back.png' %}"></a></li>
    <li><a href="{% url 'curator_dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'create_artefact' exhibitId=exhibit.exhibitId %}"><img src="{% static 'images/arrow_forward.png' %}"></a></li>
</ul>

<script src="{% static 'js/create_system.js' %}"></script>





{% endblock %}
