
{% extends "base.html" %}
{% load static %}
{% block page_hero %}
<div class="page-hero">
    <h1>Create Exhibit</h1>
</div>
{% endblock %}
{%block content %}
<!-- form for creating a new exhibit-->
<form id="create-exhibit-form" class="input-form">

    <textarea id="title" placeholder="title"></textarea>
    <textarea id="domain" placeholder="domain"></textarea>
    <textarea id="backgroundDeploymentContext" placeholder="backgroundDeploymentContext"></textarea>
    <textarea id="intededUse" placeholder="intededUse"></textarea>


    <div>
        <button class="submit" type="submit">Save</button>

    </div>

</form>
<p id="message"></p>

<ul class="curator-navs">
    <li><a href="{% url 'curator_dashboard' %}"><img src="{% static 'images/arrow_back.png' %}"></a></li>
    <li><a href="{% url 'curator_dashboard' %}">Dashboard</a></li>
</ul>

<script src="{% static 'js/create_exhibit.js' %}"></script>





{% endblock %}
