
{% extends "base.html" %}
{% load static %}
{%block content %}


<h1> Create Lessons Learnt </h1>

<form id="create-lessons-form" class="input-form">

    <textarea id="practicalRecommendations" placeholder="practicalRecommendations"></textarea>

    <textarea id="futureWarnings" placeholder="futureWarnings"></textarea>

    <div class="input-form">
        <button class="submit" type="submit">Save</button>

    </div>

</form>
<p id="message"></p>
<script>
    const exhibitId = "{{ exhibit.exhibitId}}";
</script>

<script src="{% static 'js/create.js' %}"></script>





{% endblock %}
