

{% extends "base.html" %}
{% load static %}
{% block page_hero %}
<div class="page-hero">
    <h1>Create Artefact</h1>
</div>
{% endblock %}
{%block content %}
<!-- form for creating a new arefact for an exisiting exhibit-->
<form id="create-artefact-form" class="input-form" enctype="multipart/form-data">

    <textarea id="info" name="info" placeholder="info"></textarea>
    <input type="date" id="artefactDate" name="artefactDate">
    <input type="file" id="artefactObjectPath" name="artefactObjectPath" accept="image/*">

    <div class="input-form">
        <button class="submit" type="submit">Save</button>

    </div>

</form>
<p id="message"></p>

<ul class="curator-navs">
    <li><a href="{% url 'create_system' exhibitId=exhibit.exhibitId %}"><img src="{% static 'images/arrow_back.png' %}"></a></li>
    <li><a href="{% url 'curator_dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'curator_dashboard' %}"><img src="{% static 'images/arrow_forward.png' %}"></a></li>
</ul>

<script>
    const exhibitId = "{{ exhibit.exhibitId}}";
</script>

<script src="{% static 'js/create_artefact.js' %}"></script>





{% endblock %}