
{% extends "base.html" %}
{% load static %}
{%block content %}


<h1> Create Description of Failure </h1>

<form id="create-failure-form" class="input-form">

    <textarea id="whatWentWrong" placeholder="whatWentWrong"></textarea>
    <textarea id="howItWasDetected" placeholder="howItWasDetected"></textarea>
    <textarea id="whatWasAffected" placeholder="whatWasAffected"></textarea>

    <div class="input-form">
        <button class="submit" type="submit">Save</button>

    </div>

</form>
<p id="message"></p>

<ul class="curator-navs">
    <li><a href="{% url 'create_factors' exhibitId=exhibit.exhibitId %}"><img src="{% static 'images/arrow_back.png' %}"></a></li>
    <li><a href="{% url 'curator_dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'create_lessons' exhibitId=exhibit.exhibitId %}"><img src="{% static 'images/arrow_forward.png' %}"></a></li>
</ul>


<script>
    const exhibitId = "{{ exhibit.exhibitId }}";
</script>

<script src="{% static 'js/create_failure.js' %}"></script>





{% endblock %}
