
{% extends "base.html" %}
{% load static %}
{%block content %}


<h1> Create AI System Description </h1>

<form id="create-ai-form" class="input-form">

    <textarea id="systemDescription" placeholder="systemDescription"></textarea>
    <textarea id="systemPurpose" placeholder="systemPurpose"></textarea>
    <textarea id="systemOutputs" placeholder="systemOutputs"></textarea>

    <div class="input-form">
        <button class="submit" type="submit">Save</button>

    </div>

</form>
<p id="message"></p>
<script>
    const pk = "{{ exhibit.exhibitId}}";
</script>

<script src="{% static 'js/create_system.js' %}"></script>





{% endblock %}
