

{% extends "base.html" %}
{% load static %}
{% block page_hero %}
<div class="page-hero">
    <h1>Edit Artefact</h1>
</div>
{% endblock %}
{%block content %}

<form id="edit-artefact-form" class="input-form" enctype="multipart/form-data">

    <textarea id="info" name="info" placeholder="info">{{ artefact.info }}</textarea>
    <input type="date" id="artefactDate" name="artefactDate" value="{{ artefact.artefactDate }}">
    {% if artefact.artefactObjectPath %}
        <p>Current image: <img src="{{ artefact.artefactObjectPath.url }}" style="max-height:80px;"></p>
    {% endif %}
    <input type="file" id="artefactObjectPath" name="artefactObjectPath" accept="image/*">

    <div class="input-form">
        <button class="submit" type="submit">Save</button>

    </div>

</form>
<p id="message"></p>
<script>
    const exhibitId = "{{ exhibit.exhibitId}}";
    const pk = "{{ artefact.pk}}";
</script>

<ul class="curator-navs">
    <li><a href="{% url 'curator_dashboard' %}"><img src="{% static 'images/arrow_back.png' %}"></a></li>
    <li><a href="{% url 'curator_dashboard' %}">Dashboard</a></li>
</ul>

<script src="{% static 'js/edit_artefact.js' %}"></script>





{% endblock %}


