
{% extends "base.html" %}
{% load static %}
{% block page_hero %}
<div class="page-hero">
    <h1>Edit The Contributing Factors of the Failure</h1>
</div>
{% endblock %}
{%block content %}
<!-- form for editing existing contributing factors-->
<form id="edit-factors-form" class="input-form">

    <div>
        <label for="dataIssues">Data Issues:</label>
        <textarea id="dataIssues" placeholder="dataIssues"> {{ contributing_factors.dataIssues }}</textarea>
    </div>

    <div>
        <label for="designChoices">Design Choices:</label>
        <textarea id="designChoices" placeholder="designChoices">{{ contributing_factors.designChoices }}</textarea>
    </div>

    <div>
        <label for="organisationalOrGovernanceIssues">Organisational or Governance Issues:</label>
        <textarea id="organisationalOrGovernanceIssues" placeholder="organisationalOrGovernanceIssues">{{ contributing_factors.organisationalOrGovernanceIssues }}</textarea>
    </div>

    <div>
        <button class="submit" type="submit">Save</button>

    </div>

</form>
<p id="message"></p>
<script>
    const exhibitId = "{{ exhibit.exhibitId }}";
    const pk = "{{ contributing_factors.pk }}";
</script>

<ul class="curator-navs">
    <li><a href="{% url 'edit_exhibit_detail' exhibitId=exhibit.exhibitId %}"><img src="{% static 'images/arrow_back.png' %}"></a></li>
    <li><a href="{% url 'curator_dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'edit_failure' exhibitId=exhibit.exhibitId %}"><img src="{% static 'images/arrow_forward.png' %}"></a></li>
</ul>

<script src="{% static 'js/edit_factor.js' %}"></script>





{% endblock %}
