
{% extends "base.html" %}
{% load static %}
{% block page_hero %}
<div class="page-hero">
    <h1>Edit AI System Description</h1>
</div>
{% endblock %}
{%block content %}

<form id="edit-ai-form" class="input-form">

    <div class="input-form">
        <label for="systemDescription"> System Type:</label>
        <textarea id="systemDescription" placeholder="System Type"> {{ ai_description.systemDescription }}</textarea>
    </div>

    <div class="input-form">
        <label for="systemPurpose"> Inputs and Assumptions:</label>
        <textarea id="systemPurpose" placeholder="Inputs and Assumptions">{{ ai_description.systemPurpose }}</textarea>

    </div>

    <div class="input-form">
        <label for="systemOutputs"> System Outputs:</label>
        <textarea id="systemOutputs" placeholder="System Outputs">{{ ai_description.systemOutputs }}</textarea>
    </div>

    <div class="input-form">
        <button class="submit" type="submit">Save</button>

    </div>
    

</form>
<p id="message"></p>
<script>
    const exhibitId = "{{ exhibit.exhibitId}}";
    const pk = "{{ ai_description.pk}}";
</script>

<ul class="curator-navs">
    <li><a href="{% url 'edit_lessons' exhibitId=exhibit.exhibitId %}"><img src="{% static 'images/arrow_back.png' %}"></a></li>
    <li><a href="{% url 'curator_dashboard' %}">Dashboard</a></li>
</ul>

<script src="{% static 'js/edit_system.js' %}"></script>





{% endblock %}
