
{% extends "base.html" %}
{% load static %}
{% block page_hero %}
<div class="page-hero">
    <h1>Edit Lessons Learnt</h1>
</div>
{% endblock %}
{%block content %}
<!-- form for editing existing lessons leart-->
<form id="edit-lessons-form" class="input-form">
    <div class="input-form">
        <label for="practicalRecommendations">Practical Recommendations:</label>
        <textarea id="practicalRecommendations" placeholder="practicalRecommendations"> {{ lessons.practicalRecommendations }}</textarea>
            
    </div>

    <div class="input-form">
        <label for="futureWarnings">Future Warnings:</label>
        <textarea id="futureWarnings" placeholder="futureWarnings">{{ lessons.futureWarnings }}</textarea>

    </div>
   
    
    <div class="input-form">
        <button class="submit" type="submit">Save</button>

    </div>

</form>
<p id="message"></p>
<script>
    const exhibitId = "{{ exhibit.exhibitId}}";
    const pk = "{{ lessons.pk}}";
</script>

<ul class="curator-navs">
    <li><a href="{% url 'edit_failure' exhibitId=exhibit.exhibitId %}"><img src="{% static 'images/arrow_back.png' %}"></a></li>
    <li><a href="{% url 'curator_dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'edit_system' exhibitId=exhibit.exhibitId %}"><img src="{% static 'images/arrow_forward.png' %}"></a></li>
</ul>

<script src="{% static 'js/edit_lesson.js' %}"></script>





{% endblock %}
