
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: #FBFEF9;
    color: #251605;
    line-height: 1.6;
    padding: 80px;
    
}

p {
    font-size: 16px;
    color: #251605;
    text-align: center;

}

.sidebar { 
    position: fixed; 
    top: 0; 
    left:0;
    width: 260px;
    height: 100%;
    background-color: #777778;
    display: none;
    padding-top: 20px;
    z-index: 1000;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}

.sidebar a { 
    color: #fffefe;
    display: block;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid #484a4b;
    transition: background-color 0.3s ease;

}

.side{ 
    color: #ffffff;
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
    display: block;
    width: 80%;
    text-align: left;
    border-bottom: 1px solid #484a4b;
    border: none; 
    background: none;
    padding: 10px 15px;

}

.side:hover { 
    background-color: #484a4b;
}

.sidebar a:hover { 
    background-color: #484a4b;
}

.top-bar { 
    background-color: #777778;
    position: fixed;
    top: 0; 
    right: 0;
    width: 100%;
    height: 60px; 
    display: flex;
    align-content: center; 
    padding: 0 20px;
    z-index: 999;
}

.menu{ 
    font-size: 28px;
    padding: 10px 15px;
    color: #484a4b; 
    cursor: pointer;
    border: none;
    background: none;

}

.menu:hover { 
    background-color: #484a4b;

}

.overlay { 
    cursor: pointer;
    display: none;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}


section{
    padding: 40px;
    text-align: center;
    margin: 40px; 
}

.home-button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #a5a5a5;
    

  }


  
.home-button:hover {
    background-color: #a5a5a5;
    color: white;
  }




div a { 
    margin-top: 30 px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-style: italic;
    margin-bottom: 50px ;
}

.intro p { 
    margin-top: 40px;
    margin-bottom: 40px;

}




.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(81, 79, 79);
    align-items: flex;
    display: flex;
    justify-content: space-evenly; 
    font-size: 16px;
    height: 60px;
}

.footer p { 
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.footer a { 
    color: #ffffff;
    font-size: 16px;
    text-align: center;

}

.footer a:hover { 
    text-decoration: underline;
} 

.row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.column {
    flex: 1;
}

h1 { 
    font-size: clamp(20px, 5vw, 40px);
    color: #2e2e2f;
    font-style: bold;
    text-align: center;

}


.exhibits-grid{ 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250, 1fr));
  flex-wrap: wrap;
  padding: 50px; 
  gap: 2rem;
  list-style: none;
  justify-content: center;
}

.exhibits-grid li{ 
    background: FBFEF9;
    
    padding: 20px;
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 1px solid #484a4b;

 
}

.exhibit-grid p{ 
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
}


    
.exhibits-grid li:hover { 
    transform: scale(1.2); 
    box-shadow: 10px 10px 10px 10px rgb(200, 225, 230);
 
}









h2 { 
    font-size: 20px;
    color: #2f5aa8;
    margin-bottom: 20px;
    text-align: left;
}


.single-exhibit p { 
    font-size: 16px;
    color: #251605;
    text-align: left;

}

h3 { 
    font-size: 16px;
    color: #2f5aa8;
    margin-bottom: 20px;
    text-align: left;
}

.single-exhibit h1 { 
    font-size: 16px;
    font-style: bold;
    color: #251605;
    text-align: left;

}

.single-exhibit { 
    font-size: 16px;
    color: #251605;
    text-align: left;
    margin-bottom: 20px;

}



 


/* Mobile phone css (smaller text etc */

@media (max-width: 600px) {
    body{ 
        padding-top: 120px;
        margin-left: 20px;
        margin-right: 20px;
    }

    nav{ 
        padding: 15px 20px; 
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        gap: 0.5rem;
    }

    nav ul a{
        font-size: 10px;
        
    }
    
    section { 
        margin: 10px;
        padding: 20px;
    }

    .row { 
        flex-direction: column;
    }

    .exhibits-grid {
        grid-template-columns: 1fr; 
        padding: 20px; 
    }
    .exhibits-grid li {
        max-width: none; 
        gap: 2rem; 
    }

    footer { 
        font-size: 14px;
        height: auto; 
        gap: 2rem;
    }
}





















