
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: #FBFEF9;
    color: #251605;
    line-height: 1.6;
    padding-top: 100px;
    
}

p {
    font-size: 16px;
    color: #251605;
    text-align: center;

}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 30px 50px;
    background-color: #3f4556;
    z-index: 1000;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

nav ul{
    display:flex; 
    justify-content: center;
    gap: 5em;
    list-style: none;
}

nav ul a {  
    color: #fdfdfd; 
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px; 
    border-radius: 5px; 
    transition: 20px; 
    text-decoration: none; 

}

nav > a { 
    color: #98c1d9; 
    height: 20px;
    width: auto;
    margin-left: 0;
    align-items: center;
    display: flex;
}

section{
    padding: 40px;
    text-align: center;
    margin: 40px; 
}

.home-icon { 
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.home-header { 
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display: block;
    margin-bottom: 0;

}

.home-image { 
    margin-top: 40px;
    height: auto;
    width: 90%;
    display: auto;
    margin: 0 auto;


}

div a { 
    margin-top: 30 px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-style: italic;
    margin-bottom: 50px ;
}


.first-man-image {
    max-width: 400px;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    align-items: flex;
    display: flex;
    justify-content: space-evenly; 
    font-size: 16px;
    height: 60px;
}

.footer p { 
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.footer a { 
    color: #ffffff;
    font-size: 16px;
    text-align: center;

}

.footer a:hover { 
    text-decoration: underline;
} 

.row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.column {
    flex: 1;
}

h1 { 
    font-size: 60px;
    color: #2e2e2f;
    font-style: bold;
    text-align: center;

}


.exhibits-grid{ 
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  padding: 50px; 
  gap: 10rem;
  list-style: none;
  justify-content: center;
}

.exhibits-grid li{ 
    background: FBFEF9;
    border-radius: 6px;
    padding: 100px;
    width: 300px;
    height: auto;
    border: 1px solid #484a4b;
 
}

.exhibit-grid p{ 
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
}


    
.exhibits-grid li:hover { 
    transform: scale(1.2); 
    box-shadow: 10px 10px 10px 10px rgb(200, 225, 230);
 
}









h2 { 
    font-size: 20px;
    color: #2f5aa8;
    margin-bottom: 20px;
    text-align: left;
}


.single-exhibit p { 
    font-size: 16px;
    color: #251605;
    text-align: left;

}

h3 { 
    font-size: 16px;
    color: #2f5aa8;
    margin-bottom: 20px;
    text-align: left;
}

.single-exhibit h1 { 
    font-size: 16px;
    font-style: bold;
    color: #251605;
    text-align: left;

}

.single-exhibit { 
    font-size: 16px;
    color: #251605;
    text-align: left;
    margin-bottom: 20px;

}



 























